/*=====COMMON DESIGN=====*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*========================*/

/*=====NAVVIGATION PART START*/


#nav {
    background-color: #33adf1;
    height: 55px;
}

#nav .nav-bar {
    display: flex;
}

#nav .nav-bar .logo {
    width: 20%;
    margin-top: 8px;
}

#nav .nav-bar .logo a {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

#nav .nav-bar .logo a span {
    color: #222;
}

#nav .nav-bar .menu {
    width: 80%;
    text-align: end;
}

#nav .nav-bar .menu li {
    display: inline-block;
    padding: 0 13px;
}

#nav .nav-bar .menu li a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    line-height: 55px;
}

/*=====NAVVIGATION PART END=====*/


/*=====BANNER SECTION START=====*/

#banner .banner-content {
    display: flex;
    padding-bottom: 50px;
}

#banner .banner-text {
    width: 50%;
    margin-top: 50px;

}


#banner .banner-text h1 {
    font-size: 57px;
    text-transform: capitalize;
    color: #444;
}

#banner .banner-text h1 span {
    color: #048cf7;
}

#banner .banner-text p {
    font-size: 18px;
    color: #555;
    line-height: 30px;
}

#banner .banner-text a {
    background-image: linear-gradient(to right, #a5d4ee, #0388f6);
    padding: 10px 20px;
    border-radius: 30px;
    color: #f1f0f0;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 18px;
}

#banner .banner-img {
    width: 50%;
    text-align: center;
}

#banner .banner-img img {
    width: 70%;
}

/*=====BANNER SECTION END=====*/

/*=====ABOUT SECTION START=====*/

#about {
    background-image: url(images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#about .about-content {
    display: flex;
}

#about .about-content .about-img {
    padding-top: 55px;
    width: 50%;
    text-align: center;
}

#about .about-content .about-img img {
    width: 35%;
    margin-bottom: -5px;
}

#about .about-content .about-text {
    width: 50%;
    margin-top: 50px;
    padding-left: 30px;
}

.about-text h1 {
    font-size: 32px;
    color: #444;
}

.about-text p {
    padding-top: 10px;
    color: #222;
    font-size: 18px;
    line-height: 26px;
}

.about-text a {
    background-image: linear-gradient(to left, #a5d4ee, #0388f6);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 23px;
}


/*=====ABOUT SECTION END=====*/