/*=====COMMON DESIGN=====*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*========================*/

/*=====NAVVIGATION PART START*/


#nav {
    background-color: #33adf1;
    height: 55px;
}

#nav .nav-bar {
    display: flex;
}

#nav .nav-bar .logo {
    width: 20%;
    margin-top: 8px;
}

#nav .nav-bar .logo a {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

#nav .nav-bar .logo a span {
    color: #222;
}

#nav .nav-bar .menu {
    width: 80%;
    text-align: end;
}

#nav .nav-bar .menu li {
    display: inline-block;
    padding: 0 13px;
}

#nav .nav-bar .menu li a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    line-height: 55px;
}

/*=====NAVVIGATION PART END=====*/


/*=====BANNER SECTION START=====*/

#banner .banner-content {
    display: flex;
    padding-bottom: 50px;
}

#banner .banner-text {
    width: 50%;
    margin-top: 50px;

}


#banner .banner-text h1 {
    font-size: 57px;
    text-transform: capitalize;
    color: #444;
}

#banner .banner-text h1 span {
    color: #048cf7;
}

#banner .banner-text p {
    font-size: 18px;
    color: #555;
    line-height: 30px;
}

#banner .banner-text a {
    background-image: linear-gradient(to right, #a5d4ee, #0388f6);
    padding: 10px 20px;
    border-radius: 30px;
    color: #f1f0f0;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 18px;
    box-shadow: 3px 0px 25px #a5d4ee;
}

#banner .banner-img {
    width: 50%;
    text-align: center;
}

#banner .banner-img img {
    width: 70%;
}

/*=====BANNER SECTION END=====*/

/*=====ABOUT SECTION START=====*/

#about {
    background-image: url(images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#about .about-content {
    display: flex;
}

#about .about-content .about-img {
    padding-top: 55px;
    width: 50%;
    text-align: center;
}

#about .about-content .about-img img {
    width: 35%;
    margin-bottom: -5px;
}

#about .about-content .about-text {
    width: 50%;
    margin-top: 50px;
    padding-left: 30px;
}

.about-text h1 {
    font-size: 32px;
    color: #444;
}

.about-text p {
    padding-top: 10px;
    color: #222;
    font-size: 18px;
    line-height: 26px;
}

.about-text a {
    background-image: linear-gradient(to left, #a5d4ee, #0388f6);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 23px;
    box-shadow: -1px 2px 11px #0388f6;
}


/*=====ABOUT SECTION END=====*/


/*=====RECIPIE SECTION START=====*/

#recipie-section {
    padding: 50px 0;
}


#recipie-section .recipie-heading {
    text-align: center;
}


#recipie-section .recipie-heading h1 {
    font-size: 32px;
    color: #444;
}

#recipie-section .recipie-heading p {
    font-size: 20px;
    color: #222;
    padding-top: 10px;
}

#recipie-section .all-recipies {
    display: flex;
    margin-top: 30px;
}

#recipie-section .recipie-item {
    width: 30%;
    margin: 0 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -1px 2px 18px #b5b5b5;
    padding-top: 20px;
}

#recipie-section .recipie-item .recipie-img {
    width: 100%;
    text-align: center;
}

#recipie-section .recipie-item .recipie-img img {
    width: 100%;
    border-radius: 20px;
}

#recipie-section .recipie-desc h4 {
    font-size: 25px;
}

#recipie-section .recipie-desc p {
    padding-top: 5px;
    font-size: 20px;
    letter-spacing: 1px;
}

/*=====RECIPIE SECTION END=====*/

/*=====COUNT DOWN SECTION START=====*/
#count-section {
    padding: 30px 0;
}

#count-section .count-content {
    display: flex;
    padding: 50px 0;
    box-shadow: -1px 2px 18px #b5b5b5;
    border-radius: 20px;
}

#count-section .count-item {
    width: 33.33%;
    text-align: center;
}

#count-section h1 {
    font-size: 40px;
    color: #222;
    font-weight: 800;
}

#count-section p {
    font-size: 20px;
    color: #333;
}

/*=====COUNT DOWN SECTION END=====*/


/*=====CONTACT SECTION ADDED=====*/


#contact {
    background-image: url(images/contact-bg.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 90px;
}


#contact .contact-heading {
    text-align: center;
}

.contact-heading h1 {
    font-size: 32px;
    color: #333;
}

.contact-heading p {
    font-size: 20px;
    padding-top: 5px;
    color: #222;
}

.contact-item {
    margin-top: 50px;
    width: 35%;
    box-shadow: -1px 2px 18px #d4d4d4;
    padding: 45px 43px;
    border-radius: 15px;
}


.contact-item h4 {
    font: 23px;
    color: #333;
}


form input {
    width: 96%;
    padding: 5px;
    font-size: 18px;
    margin: 10px 0;
}

form textarea {
    width: 97%;
    padding: 5px;
    font-size: 18px;
    margin: 10px 0;
}


.contact-btn {
    width: 100px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to left, #a5d4ee, #0388f6);
    border-radius: 20px;
    color: #fcfcfc;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    box-shadow: -2px 2px 17px #93d5f9;
}




/*=====CONTACT SECTION END=====*/




/*=====FOOTER SECTION START=====*/
#footer {
    background-color: #0B0E17;
}

#footer .footer-content {
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
}

#footer .footer-content h1 {
    font-size: 40px;
    color: #7493a5;
    text-transform: uppercase;
}

#footer .footer-content h1 span {
    color: #46bdff;
}

#footer .footer-content p {
    color: #d4d4d4;
    font-size: 20px;
    padding-top: 10px;
}


/*=====FOOTER SECTION END=====*/